<app-box class="card shadow">
  <app-spending-box title="Total Revenue" [cost]=50000 color="#68dfa3" [icon]="faBagShopping"/>
</app-box>
<app-box>
  <app-spending-box title="Revenue" [cost]=1250 color="#a49cfc" [icon]="faCartShopping"/>
</app-box>
<app-box>
  <app-chart-spending-box color="#68dfa3" title="Total Earings" [valueWithPreviousValue]="totalEarnings"/>
</app-box>
<app-box>
  <app-chart-spending-box color="#a49cfc" title="Products Sold" [valueWithPercentageChangen]="producsSold"/>
</app-box>