:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}
.icon {
    margin-right: 15px;
}
.values {
    display: flex;
    flex-direction: column;
}
.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 135px;
}
.cost {
    font-size: 1.2rem;
}
.menu {
    opacity: 0.5;
}
