<div class="vertical-container">
    <span>Pole tekstowe</span>
    <input class="example-element" [style.color]="styles.textColor" [style.background]="styles.background" [style.border]="styles.border" [style.boxShadow]="styles.boxShadow" value="Tekst pola input">
</div>
<div class="vertical-container">
    <span>Przycisk</span>
    <button class="example-element" [style.color]="styles.textColor" [style.background]="styles.background" [style.border]="styles.border" [style.boxShadow]="styles.boxShadow">Tekst przycisku</button>
</div>
<div class="vertical-container div-example-container">
    <span>Element blokowy (np. div)</span>
    <div class="div-example" [style.color]="styles.textColor" [style.background]="styles.background" [style.border]="styles.border" [style.boxShadow]="styles.boxShadow">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic eos quos aspernatur ratione voluptates, velit eum quasi expedita eligendi excepturi iure temporibus quisquam nostrum, possimus aliquid, aut sed laborum accusantium?</div>
</div> 
